/*google fonts link*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/*CSS Variables*/
:root {
     --primary-font: "Inter", sans-serif;
     --secondary-font: "Macondo", cursive;
     --primary-color: #416a8e;
     --secondary-color: #aa9581;
     --highlight-color: #416a8e;
     --light-highlight-color:#7a9fc2;
}

/*gobal styles*/
body{
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color:var(--primary-color)
}

.sub-heading-color {
    color: var(--highlight-color)
}